In [203]:
from sklearn.metrics import adjusted_rand_score
import numpy as np
import pandas as pd

In [133]:
data = pd.read_csv(r"E:\研一下\分布式计算\final\datasets\winequality-white.csv")

In [134]:
data_value = data.values

In [135]:
type(data_value)

numpy.ndarray

In [136]:
data_value

array([['7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6'],
       ['6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9.5;6'],
       ['8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;10.1;6'],
       ...,
       ['6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0.46;9.4;6'],
       ['5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.38;12.8;7'],
       ['6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;11.8;6']],
      dtype=object)

In [137]:
data_value[0][0]

'7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6'

In [138]:
data_list = []
for item in data_value:
    list_temp = item[0].split(";")
    data_list.append(list_temp)

In [139]:
dataArray = pd.DataFrame(data_list)

In [140]:
dataArray.shape

(4898, 12)

In [141]:
dataArray.iloc[:,-1].unique()

array(['6', '5', '7', '8', '4', '3', '9'], dtype=object)

In [142]:
dataArray.head()

    0     1     2     3      4   5    6       7     8     9     10 11
0    7  0.27  0.36  20.7  0.045  45  170   1.001     3  0.45   8.8  6
1  6.3   0.3  0.34   1.6  0.049  14  132   0.994   3.3  0.49   9.5  6
2  8.1  0.28   0.4   6.9   0.05  30   97  0.9951  3.26  0.44  10.1  6
3  7.2  0.23  0.32   8.5  0.058  47  186  0.9956  3.19   0.4   9.9  6
4  7.2  0.23  0.32   8.5  0.058  47  186  0.9956  3.19   0.4   9.9  6

In [143]:
dataArray.to_excel(r"E:\研一下\分布式计算\final\datasets\white_wine_quality.xlsx",header=False, index=False)

In [144]:
data_tem = pd.read_excel(r"E:/研一下/分布式计算/final/datasets/white_wine_quality_3class.xlsx")

In [145]:
data_tem

        7  0.27  0.36  20.7  0.045    45    170    1.001     3  0.45   8.8  6
0     6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.99400  3.30  0.49   9.5  6
1     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1  6
2     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9  6
3     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9  6
4     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1  6
...   ...   ...   ...   ...    ...   ...    ...      ...   ...   ...   ... ..
4529  6.2  0.21  0.29   1.6  0.039  24.0   92.0  0.99114  3.27  0.50  11.2  6
4530  6.6  0.32  0.36   8.0  0.047  57.0  168.0  0.99490  3.15  0.46   9.6  5
4531  6.5  0.24  0.19   1.2  0.041  30.0  111.0  0.99254  2.99  0.46   9.4  6
4532  5.5  0.29  0.30   1.1  0.022  20.0  110.0  0.98869  3.34  0.38  12.8  7
4533  6.0  0.21  0.38   0.8  0.020  22.0   98.0  0.98941  3.26  0.32  11.8  6

[4534 rows x 12 columns]

In [146]:
data_tem.to_csv(r"E:\研一下\分布式计算\final\datasets\white_wine_quality.data", index=False)

In [147]:
data_1 = pd.read_csv(r"E:\研一下\分布式计算\final\datasets\white_wine_quality.data")

In [148]:
data_1

        7  0.27  0.36  20.7  0.045    45    170    1.001     3  0.45   8.8  6
0     6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.99400  3.30  0.49   9.5  6
1     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1  6
2     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9  6
3     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9  6
4     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1  6
...   ...   ...   ...   ...    ...   ...    ...      ...   ...   ...   ... ..
4529  6.2  0.21  0.29   1.6  0.039  24.0   92.0  0.99114  3.27  0.50  11.2  6
4530  6.6  0.32  0.36   8.0  0.047  57.0  168.0  0.99490  3.15  0.46   9.6  5
4531  6.5  0.24  0.19   1.2  0.041  30.0  111.0  0.99254  2.99  0.46   9.4  6
4532  5.5  0.29  0.30   1.1  0.022  20.0  110.0  0.98869  3.34  0.38  12.8  7
4533  6.0  0.21  0.38   0.8  0.020  22.0   98.0  0.98941  3.26  0.32  11.8  6

[4534 rows x 12 columns]

In [149]:
data_1 = data_1.iloc[:,:-1]

In [150]:
data_1

        7  0.27  0.36  20.7  0.045    45    170    1.001     3  0.45   8.8
0     6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.99400  3.30  0.49   9.5
1     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1
2     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9
3     7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.99560  3.19  0.40   9.9
4     8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.99510  3.26  0.44  10.1
...   ...   ...   ...   ...    ...   ...    ...      ...   ...   ...   ...
4529  6.2  0.21  0.29   1.6  0.039  24.0   92.0  0.99114  3.27  0.50  11.2
4530  6.6  0.32  0.36   8.0  0.047  57.0  168.0  0.99490  3.15  0.46   9.6
4531  6.5  0.24  0.19   1.2  0.041  30.0  111.0  0.99254  2.99  0.46   9.4
4532  5.5  0.29  0.30   1.1  0.022  20.0  110.0  0.98869  3.34  0.38  12.8
4533  6.0  0.21  0.38   0.8  0.020  22.0   98.0  0.98941  3.26  0.32  11.8

[4534 rows x 11 columns]

In [151]:
data_1.to_csv(r"E:\研一下\分布式计算\final\datasets\white_wine_quality_noclass_blank.data",index = False)

In [152]:
# SlavesNum = 1
centers_1 = [[6.855588714053182, 0.27209169831796054, 0.3388334237655986, 6.578947368421041, 0.046581117742810756, 36.00732501356484, 140.9628323385784, 0.994189373304396, 3.1891752577319545, 0.4873629951166575, 10.444083921143061],
             [6.952274678111589, 0.2896480686695274, 0.35322746781115955, 9.402060085836922, 0.05126781115879805, 50.0587982832618, 193.8665236051502, 0.996293832618026, 3.182171673819734, 0.5121545064377689, 9.704163090128759],
             [6.761165684348411, 0.26527832351015085, 0.31795022920759564, 4.146299934512117, 0.04094499017681709, 24.094302554027507, 95.31761624099542, 0.9922785789129033, 3.188526522593314, 0.4779829731499673, 11.123859419340754],
            ]

In [153]:
data_1 = pd.read_csv(r"E:\研一下\分布式计算\final\datasets\white_wine_quality_noclass_blank.data",names=[0,1,2,3,4,5,6,7,8,9,10])

In [154]:
data_1.head()

    0     1     2     3      4     5      6       7     8     9     10
0  7.0  0.27  0.36  20.7  0.045  45.0  170.0  1.0010  3.00  0.45   8.8
1  6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.9940  3.30  0.49   9.5
2  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1
3  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9
4  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9

In [155]:
distances_1 = np.zeros((data_1.shape[0], len(centers_1)))  # 创建距离矩阵
for i in range(len(centers_1)):  # 0 1 2
    distances_1[:, i] = np.linalg.norm(data_1.values - centers_1[i], axis=1)

In [156]:
labels = np.argmin(distances_1, axis=1)

In [165]:
labels[:100]

array([1, 0, 2, 1, 1, 2, 0, 1, 0, 0, 2, 2, 2, 0, 1, 2, 2, 0, 0, 2, 0, 0,
       1, 0, 0, 0, 2, 0, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 2, 2, 0, 1, 1, 0, 2, 2, 0, 0, 0, 2, 0, 0, 0, 1, 2, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 2, 0, 1, 1, 0, 1, 1, 2, 1], dtype=int64)

In [158]:
# 下面读取true_lables
data_true = pd.read_csv(r"E:\研一下\分布式计算\final\datasets\white_wine_quality.data",names= [0,1,2,3,4,5,6,7,8,9,10,11])

In [196]:
data_true.iloc[:30,-1]

0     6
1     6
2     6
3     6
4     6
5     6
6     6
7     6
8     6
9     6
10    5
11    5
12    5
13    7
14    5
15    7
16    6
17    6
18    5
19    7
20    5
21    6
22    6
23    6
24    6
25    6
26    7
27    6
28    6
29    6
Name: 11, dtype: int64

In [208]:
true_labels = []
for item in data_true.iloc[:,-1]:
    if item == 6:
        true_labels.append(1)
    elif item == 5:
        true_labels.append(2)
    else:
        true_labels.append(0)

In [209]:
true_labels = np.array(true_labels)
true_labels

array([1, 1, 1, ..., 1, 0, 1])

In [210]:
len(true_labels)

4535

In [211]:
sum(labels == true_labels)/4535

0.2782800441014333